* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
  height: 100vh;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #171717;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  margin-bottom: 15px;
}

.new-chat {
  padding: 10px;
  background: #2a2a2a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.history {
  flex: 1;
  overflow-y: auto;
}

.section-title {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 5px;
}

.chat-item {
  padding: 8px;
  background: #222;
  border-radius: 6px;
  margin-bottom: 5px;
}

.bottom-menu {
  border-top: 1px solid #333;
  padding-top: 10px;
}

.menu-btn {
  width: 100%;
  background: none;
  color: white;
  border: none;
  text-align: left;
  padding: 8px;
  cursor: pointer;
}

/* CHAT AREA */
.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #0f0f0f;
}

.chat-header {
  padding: 20px;
  text-align: center;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.user {
  background: #007aff;
  align-self: flex-end;
}

.bot {
  background: #2a2a2a;
  align-self: flex-start;
}

/* INPUT BAR */
.input-bar {
  display: flex;
  padding: 15px;
  border-top: 1px solid #333;
}

.input-bar input {
  flex: 1;
  padding: 12px;
  background: #222;
  border: none;
  color: white;
  border-radius: 20px;
}

.input-bar button {
  margin-left: 10px;
  padding: 12px 18px;
  border: none;
  background: #007aff;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
